.mc-background{
  background-color: #003366;
}

.mc-pale-background{
  background-color: #40bab5 !important;
}

.mc-color{
  color: #003366 !important;
}

.mc-pale-color{
  color: #40bab5 !important
}

.text-gray{
  color: #4e4e4e !important;
}

.mc-color-hover:hover{
  color: #003366 !important;
}

.mc-color-hover:hover{
  color: #40bab5 !important;
}

.hoverGreenLight:hover{
  background-color: #40bab5 !important;
}

.vr{
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: .25;
}

.mc-background-color-white{
  background-color: #f7f7f7;
}

.hover-font-weight:hover{
  font-weight: bold;
}

.mc-heading-middle{
  font-family: sans-serif;
  font-weight: 400;
}

.mc-heading{
  font-family: sans-serif;
  font-weight: 700;
  color: #043d5d;
}

.btn-hover-bg:hover{
  color: white !important;
  background-color: #40bab5 !important;
  border-color: #40bab5 !important;
  --bs-btn-color:#40bab5 !important;
}

.text-white-hover:hover{
  color: white !important;
}

.btn-outline-light{
  --bs-btn-hover-color: #043d5d !important;
  --bs-btn-active-color: #043d5d !important;
}

.btn-primary{
  --bs-btn-bg: #043d5d !important;
  --bs-btn-border-color: #043d5d !important;
  --bs-btn-hover-bg: #40bab5 !important;
  --bs-btn-hover-border-color: #40bab5 !important;
  --bs-btn-active-bg: #40bab5 !important;
  --bs-btn-active-border-color: #40bab5 !important;
  --bs-btn-disabled-bg: #043d5d !important;
  --bs-btn-disabled-border-color: #043d5d !important;
}