body {
  margin: 0;
  height: 100vh;
}

html {
  height: 100vh;
  width: 100%;
}

div#root {
  overflow-y: auto;
  font-family: "Quicksand", sans-serif;
  background-color: white;
  height: 100vh; /* remove this line to see div.app is no more 100% height */
}
