body {
  margin: 0;
  height: 100%;
}


html {
  height: 100%;
  width: 100%;
}

div#root {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

      